* {
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
img {
    width: 100%;
    height: 100%;
}
nav {
    height: 5vh;
    background-color: blue;
}
.container {
    display: grid;
    height: 95vh;
}
.header {
    background-color:aqua;
    grid-area: h;
}
.feature1 {
    background-color: yellowgreen;
    grid-area: f1;
}
.feature2 {
    background-color: violet;
    grid-area: f2;
}
.feature3 {
    background-color: red;
    grid-area: f3;
}
.signup {
background-color:dodgerblue;
grid-area: s;
}
.content {
    background-color: chartreuse;
    grid-area: c;
}

  /* screen laptop */
@media screen and (min-width:1025px) {
   .container {
      grid-template-areas: 
      "h h h"
      "f1 f2 f3"
      "s s s"
      "c c c"  
      ;
   }
}

/* screen tablet */
@media screen and (min-width:741px) and (max-width:1024px){
   .container {
     grid-template-areas: 
     "h h"
     "c c"
     "c c"
     "s f1"
     "f2 f3"
     ;
   }
}

/* screen mobile */
@media screen and (max-width:740px) {
   .container {
    grid-template-areas:
    "h"
    "c"
    "s"
    "f1"
    "f2"
    "f3"
    ;
   }
}